html
    head
        title= 'Mem'
    style
        include meme.css
    body
        img(src=meme.url)
        h2 New price of the meme: #{meme.actualPrice}
        a(href="../..") Back to main page